 *{ 
        margin:0px;
        padding:0px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-family: "Stack Sans Text", sans-serif;
        font-weight: weight;
        font-style: normal;
}
body {
    background: linear-gradient(135deg, #7B2FF7, #0A84FF);
    color: #F8F9FB;
    width: 100VH;   
}
h1.title {
    text-shadow: 8px 6px 4px black;
    font-size: 50px;
}
.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 26px;
    color: var(--accent);
    letter-spacing: 1px;
}
h1.center{
    text-align: center;
    color: rgb(164, 108, 18);
}
.projects-section{
    margin: 60px;
}
.projects-row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.project-box {
    flex: 1;
    min-width: 300px;
    background-color: #0a0a0ace;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
    transition: 0.3s ease;
}
.project-box:hover {
    transform: translateY(-6px);
}
.project-box ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}
.project-box ul li {
    background: rgba(11, 108, 246, 0.07);
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
    color: var(--muted);
    margin-bottom: 10px;
    transition: 0.2s ease;
}
.project-box ul li:hover {
    /* background: var(--accent); */
        background: rgba(0, 0, 0, 0.384);
    color: white;
}
footer.footer{
    margin: 0px;
}
@media(max-width:900px) {
    .projects-row {
        flex-direction: column;
    }
}